* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px "Inter", "Quicksand", Arial, sans-serif;
    padding-top: 70px;
}

:root {
    --primary-color: #000731;
    --secondary-color: #02D1FB;
    --gradient: linear-gradient(to right, #025391 0%,#011b4c 100%);
    --header-text-color: #000731;
    --background-color: #191A1D;
    --surface-dec-color: linear-gradient(180deg, rgba(77, 101, 114, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #212329;
    --surface-color: #2C313A;
    --onSurface-color: #9AE1FF;
    --onSurface-color-hover: #b1e8ff;
    --onSurface-color-active: #558fc5;
    --horizontal-bar-color: linear-gradient(180deg, rgba(163, 180, 237, 0.28) 0%, rgba(0, 0, 0, 0) 100%), #757D8F;
    --border-radius: 10px;
    --onSurface-filter-color: invert(82%) sepia(12%) saturate(1438%) hue-rotate(169deg) brightness(101%) contrast(102%);
}

.lp-section-1 {
    background: var(--gradient);
}

.lp-section-2 {
    background: white;
}

.lp-section-2__header-text {
    color: var(--header-text-color);
}

.lp-section-2__header{
    color: var(--header-text-color);
}

.lp-section-3 {
    background: var(--gradient);
}

.lp-section-4 {
    background: white;
}

.lp-section-4__header-text {
    color: var(--header-text-color);
}

.lp-section-3__header-companion {
    color: var(--secondary-color);
}

.cta-button {   
    background: #02D1FB;
}

.cta-button:hover {
    background: #00bee3;
}

.cta-button:active {
    background: #00afd2;
}

.title {
    font-size: 32px;
    color: var(--secondary-color);
    margin: 0;
}

.navbar {
    background: linear-gradient(to right, #025391 0%,#011b4c 100%);
}

.navbar__picture {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#canvas-placeholder {
    background-color: #D9D9D9;
    height: 630px;
    width: 100%;
}

#controls {
    background: rgb(31, 32, 35);
    height: 630px;
    border-radius: var(--border-radius);
}

#controls label {
    font-size: 9pt;
}

.controls__header-text {
    font-size: medium;
    color: var(--secondary-color);
}


.leaderboard-ad {
    background-color: #E6E6E6;
    width: 728px;
    height: 90px;
}

.large-mobile-ad {
    background-color: #E6E6E6;
    width: 320px;
    height: 100px;
}

.instrucciones {
    background: var(--gradient);
}

.instrucciones__header-text {
    color: var(--secondary-color);
}

.large-skyscraper-ad {
    background-color: #E6E6E6;
    width: 300px;
    height: 600px;
}

.social-media-footer {
    background: var(--gradient);
    height: 78px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

#social-media {
    width: fit-content;
}

#social-media img {
    filter: var(--onSurface-filter-color)
}

.header-text {
    color: var(--secondary-color);
}

.body-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--onSurface-color);
}

.horizontal-bar {
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
}

footer {
    background: var(--gradient);
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: inherit;
}

.content-footer {
    height: 300px;
}

footer a,footer a:hover, footer a:active, footer a:link, footer :visited {
    color: var(--secondary-color);
}

.politicas {
    background: white;
    margin-top: 5em;
    border-radius: var(--border-radius);
}

.terminos {
    background: var(--surface-color);
    margin-top: 5em;
    border-radius: var(--border-radius);
}

.seccion-registrar {
    width: 40%;
    background: var(--surface-dec-color);
    border-radius: var(--border-radius);
    margin: 6em auto;
    padding: 25px;
}

.seccion-registrar input {
    color: #D9D9D9;
    margin-top: .3em;
    font-size: large;
    background: #343a46;
    border: 1px solid rgb(140, 151, 161);
    padding: .5em;
    width: 100%;
    border-radius: 15px;

}

.seccion-registrar input::placeholder {
    color: rgb(196, 196, 196);
    font-size: medium;
}

.seccion-registrar input[type="button"] {
    color: #fff;
    font-size: medium;
    font-weight: bold;
    background-color: #53c294;
    border-radius: 25px;
    height: 3em;
    width: 12em;
    margin: auto;
    margin-top: 32px;
}

.seccion-registrar input[type="button"]:hover {
    background: #6fdfb0;
}

.seccion-registrar input[type="button"]:active {
    background: #52b189;
}

h1[class="header-text"] {
    font-size: 32pt;
    margin-bottom: 32px;
}

.upload-file-icon {
    width: 3em;
}

div[class="d-flex"] img {
    width: 250px;
    flex-grow: 0;

}

.profile {
    background: rgb(31, 32, 35);
}

.profile__change-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background: #2c313a6e;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.profile__change-image:hover {
    opacity: 1;
}

.profile__picture {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.change-profile-photo-modal__button {
    background: #2c313a6e;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s;
}

.change-profile-photo-modal__button:hover {
    opacity: 1;
}

.change-profile-photo-modal__image {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.config {
    background: white;
}

.descripcion {

}

.opciones-modelo {
    background: var(--surface-dec-color);
    border-radius: var(--border-radius);
}

.iniciar-sesion__header-text {
    color: var(--primary-color);
}

.vendor {
    color: var(--secondary-color);
}